
#game_header {
  margin-bottom: 80px;
  text-align: center;

}

table {
  font-weight: bolder;
  font-family: cursive;
  margin-left: 30%;
}

td {
  height: 100px;
  width: 100px;
  text-align: center;
  border: solid 5px;
  font-size: 50px;

}


.cell-0 {
  border-top: none;
  border-left: none;
}

.cell-1{
  border-top: none;
}

.cell-2{
  border-top: none;
  border-right: none;
}

.cell-3{
  border-left: none;
}

.cell-5{
  border-right: none;
}

.cell-6{
  border-bottom: none;
  border-left: none;
}

.cell-7{
 border-bottom: none;
}

.cell-8{
  border-bottom: none;
  border-right: none;
}